@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bg-color: #04103A;
    --elements-color: #2D375A;
    --theme-color: #57CEE7;
    --border-radius: 5px;
}


* {
    transition: .3s;
}

html,
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* font-family: 'Barlow Condensed', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.category-btn:hover {
    background-color: #2D375A !important;
    color: white !important;
}

.category-btn:hover span {
    color: white !important;
}

.react-player {
    height: 77vh !important;
    width: 100% !important;
}

.search-bar {
    border: none;
    outline: none;
    width: 350px;
}

.search-bar::placeholder {
    color: white;
}

.category-btn {
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;

    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
    .category-btn {
        margin: 10px;
    }
}

@media screen and (max-width:800px) {
    .copyright {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .scroll-horizontal {
        overflow: auto !important;
    }

    .react-player {
        height: 45vh !important;
    }

    .search-bar {
        width: 200px;
    }
}

.videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media(max-width:1080px) {
    .videos-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:660px) {
    .videos-container {
        grid-template-columns: 1fr;
    }
}


.videoCard {
    border-radius: 12px;
    /* width: 420px; */
    width: 100%;
    height: 240px;
    background-position: center !important;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    transition: .3s;
    background-size: 100% !important;
    /* background-repeat: no-repeat !important; */
    object-fit: contain;
}

.video-details {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 48, 104, 0) 100%);
    padding: 0 12px;
    border-radius: 12px;
}

.videoCard:hover .video-details {
    height: 80%;
}

.videoCard:hover {
    background-size: 110% !important;
}

.video-title,
.video-channel,
.video-desc {
    color: white;
    margin: 5px 0;
}

.video-desc {
    font-size: 12px;
}

.video-channel {
    /* margin-bottom: 15px; */
}

.channel-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-img-img {
    border-radius: 50%;
    height: 200px;
    /* width: 100%/; */
}

.channel-title {
    text-align: center;
    color: white;
    /* margin-top: 5px; */
}

.video-extras {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.live-tag {
    font-size: 15px;
    margin: 0;
    height: fit-content;
    /* margin: 5px 0; */
    width: fit-content;
    background: red;
    color: white;
    padding: 2px;
    border-radius: 5px;
}